<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script defer>
        function initiateLogin() {
            let authWindow = window.open(
                `/login/google`,
                "_blank",
            )
            window.addEventListener("message", event => {
                let data = JSON.parse(event.data)
                let token = data.access_token
                let expiry = new Date()
                expiry.setTime(expiry.getTime() + 1000 * 60 * 60)
                document.cookie = `access_token=${token};expires=${expiry.toUTCString()};path=/`
                window.location = "/"
            })
        }
    </script>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <p>{{.Error}}</p>
        <form action="/login" method="POST">

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
    <div class="container">
        <a href="#" onclick="initiateLogin()">Login with Google</a>
    </div>
    <div class="container">
        <a href="/signup">Signup</a>
    </div>
</body>
</html>
