<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- Include your CSS and JavaScript files here -->
</head>
<body>
    <div class="container">
        <a href="/profile/edit">Edit</a>
        <a href="/logout">Logout</a>
    </div>
    <main>
        <p>Name: {{.Name}}</p>
        <p>Email: {{.Email}}</p>
        <p>Phone: {{.Phone}}</p>
    </main>

</body>
</html>